@font-face {
    font-family: Titulo;
    src: url(../fontes/SamuraiWarrior.ttf);
}
h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #603A03;
}
body {
    background-color: #2a1a4a;
}
#container {
    width: 1200px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#fundoGame {
    width: 1200px;
    height: 700px;
    background-image: url(../img/fundo_game.png);
    background-size: cover;
    border-color: #FFF;
    border-style: solid;
}
#jogador {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50px;
    top: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inimigo1{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 950px;
    top: 320px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inimigo2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1050px;
    top: 350px;
    background-image: url(../img/inimigo2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#amigo {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10px;
    top: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inicio {
    width: 350px;
    height: 200px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}
#disparo {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url(../img/disparo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#explosao1 {
    width: 150px;
    height: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
#explosao2 {
    width: 150px;
    height: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.anima1 {
    background-image: url(../img/helicoptero.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.anima2{
    background-image: url(../img/inimigo1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.anima3 {
    background-image: url(../img/amigo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Classe para indicar power-up ativo no jogador */
.com-powerup {
    filter: brightness(1.3) drop-shadow(0 0 10px gold);
    animation: pulsar 0.5s infinite;
}

@keyframes pulsar {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}